@import 'https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&display=swap';
 
.button { 
 width:auto;
 height:50px;
 color: white;
 position: right;
 vertical-align: middle;
 text-decoration: none;
 font-family: 'Baloo Tammudu 2', cursive;
 font-size: 20px;
 font-weight: bold;
 text-align: center;
 border-radius: 45px;
 transition: all .5s;
 background-color: #0fb399;
 border-style: solid;
 
}

