.eslogan {
  max-width: 50px;
}

.eslogan {
  max-width: 250px;
}

.deco {
  width: 950px;
}

/* .container2{

  display: flex;
  flex-direction: column;
 
  justify-content: space-around;
  align-items: center;
 }

 

.eslogann{
 
  
  
  align-items: center;
  align-self: flex-start;
 }
 .flex-itemm{
  
 
  
  min-width: 600px;
 }
 */

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  
  
}

.wrapper > * {
  padding: 55px;
  flex: 1 100%;
  
}

.wrapperprof{

  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  
}

.wrapperprof > * {
  padding: 10px;
  flex: 1 100%;
}