
.letras {
  text-decoration: none;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 20px;
}


.masbuscado{

  text-decoration: none;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 35px;
  color: #0fb399;
  font-weight: bold;

}
