
.letras {
  text-decoration: none;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 20px;
}

.letraverde{
  text-decoration: none;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 20px;
  color: #0fb399;
}



.masbuscado{

  text-decoration: none;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 35px;
  color: #0fb399;
  font-weight: bold;

}
