.profesor1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  
  
  .profesorContainer {
    border: 5px solid #0fb399;
    border-radius: 130px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
  
  /*Estructura de cada celda*/
  .profesor {
    border: 2px /*solid*/;
    /*border-color:  #ffa94d;*/
    border-radius: 40px;
    padding: 1em;
    
  }
  
  /*nombre descripcion koins*/
  .profesor1 {
    grid-column: 1 / 4;
  }

  /*texto*/
  .profesor2 {
      grid-column:  2;
  }

  /* contratar */
  .profesor3{
      grid-column: 1;
      height: 50px;
  }
  /* horario */
  .profesor4{
      grid-column: 3/4;
      grid-row-start: 3;
      grid-row-end: 4; 
      
  }

  /* valoracion */

  .profesor5{
      grid-column: 1;
      grid-row-start: 3;
      grid-row-end: 4;
  }

  /* estructura de la fila de nombnre descripcion coins */
  .cestasss{
    border: 2px solid;
    /*border-color: #ffec99;*/
    border-radius: 5px;
    background-color: #fff9db;
    padding: 1em;
  }
  
  
  
  .stars{
    height: 150px;
    width: 400px;

  }

  .icono{
    height: 200px;
    width: 200px;
 
  }