.profesor1 {
    grid-column-start: 1;
    grid-column-end: 4; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
  
  
  .profesorContainer {
    border: 5px solid #0fb399;
    border-radius: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 1%;
    height: auto;
    
  }
  
  /*Estructura de cada celda*/
  .profesor {
    border: 2px /*solid*/;
    border-color:  #111111;
    border-radius: 40px;
    padding: 1em;
  
    
  }
  
  /*nombre descripcion koins*/
  .profesor1 {
    grid-column: 2 / 5;
    
  }
  .profesor6 {
    grid-column: 1;
    grid-template-columns: 100px;
    grid-template-rows: 100px;
  }

  /*texto*/
  .profesor2 {
      grid-column:  2/3;
      grid-row: 2
  }

  /* contratar */
  .profesor3{
      grid-column: 1;
      height: 50px;
  }
  /* horario */
  .profesor4{
      grid-column: 3/4;
      grid-row-start: 2;
      grid-row-end: 2; 
      padding: 2em;
      align-self:stretch ;
      
  }

  /* valoracion */

  .profesor5{
      grid-column: 1;
      grid-row-start: 3;
      grid-row-end: 3;
  }

  /* estructura de la fila de nombnre descripcion coins */
  .cestaprofe{
    border: 2px solid;
    border-color: #ffc299;
    border-radius: 5px;
    background-color: #dbffed;
    height: 25px;
    padding: 1em;
  }
  .cestaprofe2{
    border: 2px solid;
    border-color: #ffec99;
    border-radius: 5px;
    background-color: #fff9db;
    padding: 1em;
  }
  
  
  
  .stars{
    height: 150px;
    width: 400px;

  }

  .icono{
    height: 200px;
    width: 200px;
 
  }