@import url(https://fonts.googleapis.com/css?family=Open + Sans);

.searchcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body {
  background: white;
  font-family: "Open Sans", sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm:focus {
  color: #0fb399;
}

.searchTerm {
  width: 50%;
  border: 3px solid #0fb399;
  padding: 5px;
  height: 24px;
  border-radius: 30px 30px 30px 30px;
  outline: none;
  color: #0fb399;
  text-decoration: none;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 17px;
  font-weight: bold;
  margin: 5px;
}

.wrap {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
