@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 500%;
  position: relative;
  display: flex;
}



.searchTerm:focus{
  color: #0fb399;
}


.searchTerm {
    width: 100%;
    border: 3px solid  #0fb399;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 30px 30px 30px 30px;
    outline: none;
    color: #9DBFAF;
  }

.wrap{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }