.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0fb399;
}

.App-link {
  background-color: #ffbf33;
  color: #ffbf33;
}

.image {
  width: 200px;
  height: 120px;
}
.image img {
  width: 100%;
  height: auto;
  justify-content: center;
}
.noPoints{
  list-style-type: none
}